<div class="main-container" *ngIf="showDialog">

    <div class="wrapper">

        <div class="row">
            <div class="col">
                <label class="font-size">No of adult</label>
                <div class="inner-div passanger_count center-container">
                    <mat-icon class="Mat-icon">supervisor_account</mat-icon>
                    <!-- <div> -->
                        <mat-icon class="Mat-icon" (click)="passengerService.decrementAdults()">remove</mat-icon>
                        <span  class="ai" id="counter">{{ adults$ | async }}</span>
                        <span>
                            <mat-icon class="Mat-icon" (click)="passengerService.incrementAdults()">add</mat-icon>
                        </span>
                    <!-- </div> -->
            
                </div>
            </div>
            <div class="col">
                <label class="font-size">No of child</label>
                <div class="inner-div passanger_count center-container">
                    <mat-icon class="Mat-icon">supervisor_account</mat-icon>
                    <mat-icon class="Mat-icon" (click)="passengerService.decrementChildren()">remove</mat-icon>
                    <div class="ai" id="counter">{{ children$ | async }}</div>
                    <mat-icon class="Mat-icon" style="cursor: pointer;" (click)="passengerService.incrementChildren()">add</mat-icon>
                </div>
            </div>
        </div>

        <div class="button-container done_but">
            <button class="done_but1" (click)="logPassenger()">Done</button>
        </div>
    </div>

</div>