<div>
    <h1 class="mr"></h1>
</div>

<div class="row" style="justify-content: center;">
    <input type="text" id="text" class="di" placeholder="Location">
    <div class="row">
       
        <div class="passanger_count center-container small-button">
            <mat-icon class="Mat-icon" >swap_horiz</mat-icon>
        </div>
       
    </div>
    <input type="text" id="text" class="di" placeholder="Location">
        <button class="di" (click)="togglePassenger()">Passenger:  {{getTotalCount()}}</button>
        <app-passenger *ngIf="showPassenger" (closePassenger)="closePassenger()" ></app-passenger>
    <button class="di bo search-color" style="color: white;" type="button" [ngStyle]="{ 'background-color': getTotalCount() === 0 ? '#ccc': '#0a53f1'}" >Search</button>

</div>